<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }
  .btn-search i {
    display: inline;
    margin-right: 5px;
  }
  .inp-search{
    border-radius: 25px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1rem;
  }

  
  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: #f8f9fa;
      padding: 1rem;
      border-radius: 8px;
      margin-top: 10px;
    }

    .navbar-nav {
      flex-direction: column;
      gap: 0.75rem;
    }

    form.d-flex {
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;
      margin: 1rem 0;
    }

    .inp-search, .btn-search {
      width: 100%;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" 
    type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
    <form class="d-flex" action="/listings/search" method="GET">
  <input class="form-control me-2 inp-search" type="search" name="q" placeholder="Search Destinations" aria-label="Search">
  <button class="btn btn-search" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>Search
  </button>
</form>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser) { %>
        <a class="nav-link" href="/listings/new">Add new listings</a>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"> <b>Log in</b></a>
        
        <%} else { %>
        
        <a class="nav-link" href="/listings/new">Add new listings</a>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
       
        <% } %>
      </div>
    </div>
  </div>
</nav>