body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar {
    background-color: white;
    height: 5rem;
}

.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}
.nav-link {
    color: #222222 !important;
}

/*Footer*/
.f-info-links a {
    color: #222222;
    text-decoration: none;
    }

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
    }
.f-info {
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Card */
.listing-card {
    margin-bottom: 2rem;
    border: none !important;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
} 

/* New Page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
     background-color: #fe424d !important;
     border: none !important;
}

/* Show Image */
.show-img{
    height: 35vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 576px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .col-6.offset-3 {
    width: 100% !important;
    margin-left: 0 !important;
  }

  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  button.btn {
    width: 100%;
  }

  form .form-control {
    font-size: 0.95rem;
  }
}
@media (max-width: 576px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .col-8.offset-2 {
    width: 100% !important;
    margin-left: 0 !important;
  }

  h3, h1 {
    text-align: center;
  }

  .add-btn {
    width: 100%;
  }

  form .form-control {
    font-size: 0.95rem;
  }
}
